<!DOCTYPE html>
<html>
    <head></head>

    <body>
        <form action="/update" method="POST">
            <input type="text" name="fname" placeholder="FName">
            <input type="text" name="lname" placeholder="LName">
            <input type="text" name="country" placeholder="Country">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Submit">
        </form>
        <br>
        <a href="products">Show Products</a>
        <br>

        <form action="/vendor/addProduct" method="POST">
            <input type="text" name="serial" placeholder="Serial">
            <input type="text" name="title" placeholder="Title">
            <input type="number" name="stock_price" placeholder="stock_price">
            <input type="number" name="sale_price" placeholder="sale_price">
            <input type="number" name="quantity" placeholder="quantity">
            <input type="text" name="description" placeholder="description">
            <input type="text" name="colors" placeholder="colors">
            <input type="text" name="colors" placeholder="colors">
            <input type="text" name="colors" placeholder="colors">
            <input type="text" name="sizes" placeholder="sizes">
            <input type="text" name="sizes" placeholder="sizes">
            <input type="text" name="sizes" placeholder="sizes">
            <input type="text" name="category" placeholder="category">
            <input type="text" name="category" placeholder="category">
            <input type="text" name="category" placeholder="category">
            
            <input type="text" name="vendor" placeholder="vendor">
            <input type="submit" value="show">
        </form>
    </body>
</html>